<div class="container-fluid content">
	<div class="col-md-12 main_content">
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12">		
				<div class="adds">		
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-7097333205788199"
					data-ad-slot="9573289661"
					data-ad-format="auto"></ins>
					<script defer type="text/javascript">
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
			<!-- Blog Post Content Column -->
			<div class="col-md-5 col-lg-6 col-sm-12 col-xs-12">
				<div class="row" >
					<div class="col-md-12">
						
						<div class="col-md-12 artcleSearchBox">
							<form class="navbar-form ng-pristine ng-valid articleLst_Align" role="search">
								<div class="col-md-12 col-xs-12 input-group add-on">
									<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text" ng-model="search" >
									<div class="input-group-btn">
										<button class="btn btn-default" type="button" id="atclSrchButt" name="atclSrchBttn"><i class="glyphicon glyphicon-search"></i></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 articleAdd">
					<div class="adds">
						<ins class="adsbygoogle"
						style="display:block"
						data-ad-client="ca-pub-7097333205788199"
						data-ad-slot="9573289661"
						data-ad-format="auto"></ins>
						<script defer type="text/javascript">
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
				
				<!-- Post Content -->
				<div class="col-md-12 article_edit articleTabAlign" id="no-more-tables">
					
					<table class="table table-sm atclTable" >					
						<tbody >				  
							<tr ng-repeat="article in vm.articles |filter:search ">
								<td class="artticleLst">
									<div class="lstArticle lst">	
										<img ng-src={{vm.JsonVals.article_bg_img}} alt="" class="lstArticleImg" />
										<p class="lstArticletitle">{{article.category_name}}</p>
									</div>	
								</td>
								<td class="article_block artticleLstBlock">
									<p>
										<a class="article_font" href="/{{vm.urlparent}}/{{article.category_name | lowercase }}/{{article.category_id}}/{{article.alias_url}}">{{article.article_name}}</a>
									</p>
									
								  <a class="article_font" href="/{{vm.urlparent}}/{{article.category_name | lowercase }}/{{article.category_id}}/{{article.alias_url}}">
										<p>{{article.article_short_desc}}</p>
									</a>									
								</td>
							</tr>
						</tbody>
					</table>						
				</div>
				
			</div>		
			<div class="ebkRgtAdd">
					<div class="adds">		
						<ins class="adsbygoogle"
						style="display:block"
						data-ad-client="ca-pub-7097333205788199"
						data-ad-slot="9573289661"
						data-ad-format="auto"></ins>
						<script defer type="text/javascript">
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				
			</div>
		</div>
	</div>
</div>
