<div class="col-md-12 col-sm-12 article_bg">
		<div class="row" style="margin-top:10px;">
	<div class="col-md-4 col-sm-4">
		<table class="table table-bordered table-striped table-hover tablehead">
			 
				<tr> 
					<th class="col-md-2 col-xs-2 text-center">{{vm.JsonVals.s_no}}</th>
					<th class="col-md-5 col-xs-5">{{vm.JsonVals.pname}}</th>
					<th class="col-md-5 col-xs-5">{{vm.JsonVals.cname}}</th>
				</tr>
			</table>
		<div style="height:620px;overflow-y:auto;">
		<table class="table table-bordered table-striped table-hover">
			<tbody>
				<tr ng-repeat="list in vm.menuNav[0].BottomNavLevel" >
				<th class="text-center col-md-2 col-xs-2">{{$index+1}}</th>
				<td class="col-md-5 col-xs-5">
					<a ng-click="vm.updatearticleinfo(list)" href="">
					{{list.parent_name}}
				</a>
				</td>
				<td class="col-md-5 col-xs-5">
					<a ng-click="vm.updatearticleinfo(list)" href="">
					{{list.category_name}}
				</a>
				</td>
			</tr>
			</tbody>
		</table>
		</div>	
	</div>
	<div class="col-md-8 col-sm-8">
		<h3 class="text-center no_head">
		<button class="btn btn-primary btn-xs pull-left" ng-click="vm.reload()">
		<a href="" class="glyphicon glyphicon-refresh txt_clr" ></a>
		</button>{{vm.JsonVals.midNav}}
		</h3>
		<hr class="postArticleHr">
			  <div class="col-md-12 col-xs-12">
		<p class="succesmsg" ng-if="vm.msg">{{vm.msg}}</p>
		   <form role="form" name="createTopNavForm" >
					<fieldset ng-disabled="vm.isClicked">
		   	 <div class="form-group">
				<div class="col-md-6">
				<label class="control-label article_formtext" for="lookup_value_id">Parent Menu</label>         
          	<select class="selectpicker form-control " id="category_id" name="category_id" ng-options="parentID.id as parentID.name for parentID in vm.parentNavResult|filter:{is_active:'Y'}" ng-model="vm.ChildMenuItem.parent_menu_id" required>
					<option value="">-- choose parent menu --</option>
					</select>
          </div>
				<div class="col-md-6">
							<label class="control-label article_formtext" for="userRight">{{vm.JsonVals.userRight}}</label>
					<select class="selectpicker form-control" id="userRight" name="category_id" ng-options="userRight.user_rights_id as userRight.user_rights for userRight in vm.userRights" ng-model="vm.ChildMenuItem.user_rights_id" required>
					<option value="">-- choose user rights --</option>
					</select>
				  </div>
				</div>
					<div class="form-group">
					<div class="col-md-6">
						<label class="control-label article_formtext" for="tmenuName">{{vm.JsonVals.menuName}}</label>
						<input class="form-control" id="tmenuName" type="text" ng-model="vm.ChildMenuItem.category_name" placeholder="Enter Menu Name" ng-blur="vm.copyTText(vm.ChildMenuItem.category_name)" required> 
					</div>
					<div class="col-md-6">
						<label class="control-label article_formtext" for="tpageUrl">{{vm.JsonVals.pageUrl}}</label>
						<input class="form-control" id="tpageUrl" type="text" ng-model="vm.ChildMenuItem.category_url" ng-disabled="true" placeholder="Enter Page URL" required>
					</div>
				</div>
              <div class="form-group">
              	<div class="col-md-6">
                <label class="control-label article_formtext" for="pageName">{{vm.JsonVals.pageName}}</label>
                <input class="form-control" id="pageName" placeholder="Enter Page Name" ng-model="vm.ChildMenuItem.page_name" type="text" required>
              	</div>
				<div class="col-md-6">
				<label class="control-label article_formtext" for="controller">{{vm.JsonVals.ctrl_name}}</label>
					<input class="form-control" id="controller" placeholder="Enter Controller Name" ng-model="vm.ChildMenuItem.controller" min=1 type="text" required>
					</div>                
				  </div>				
				 
				
				  <div class="form-group">

				<div class="col-md-6">
					<label class="control-label article_formtext" for="sequence_no">{{vm.JsonVals.seqNo}}</label>
					<input class="form-control" id="sequence_no" placeholder="Enter Sequence Number" ng-model="vm.ChildMenuItem.sequence_no" min=1 type="number" required>
				  </div>
				  <div class="col-md-6">
					<label class="control-label article_formtext" for="isactive">{{vm.JsonVals.isactive}}</label>
					<input id="isactive" class="form-control rbtn" type="checkbox" ng-model="vm.ChildMenuItem.is_active" ng-true-value="'Y'" ng-false-value="'N'" />					
				  </div>
				</div>
				<div class="clearfix"></div>

					<div class="form-group">
						<div class="col-md-12">
						<button type="submit" class="btn btn-primary" ng-show="vm.createbtn" ng-click="vm.createchildnav(vm.ChildMenuItem);" ng-disabled="createTopNavForm.$invalid">{{vm.JsonVals.create}}</button>
						<button type="submit" class="btn btn-primary" ng-show="vm.updatebtn" ng-click="vm.updatechildnav(vm.ChildMenuItem)" ng-disabled="createTopNavForm.$invalid">{{vm.JsonVals.update}}</button>
						<button type="rest" class="btn btn-danger" ng-click="vm.reload();">{{vm.JsonVals.cancel}}</button>
					</div>
					</div>
				</fieldset>
              </form>
          </div>
	</div>
	<div class="clearfix"></div>
</div>
</div>