		<div class="containerWizard">
			<div class="col-md-12 main_content">
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12">
						<div class="adds">		
							<ins class="adsbygoogle"
							style="display:block"
							data-ad-client="ca-pub-7097333205788199"
							data-ad-slot="9573289661"
							data-ad-format="auto"></ins>
							<script defer type="text/javascript">
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 hidden-xs">
						<div class="row article_edit articleContHeading">
							<hr class="line_hr">
							<div class="col-md-12 menu_pannel">
								<ul>
									<li ng-repeat="Ebook in vm.Ebooks | orderBy:'sequence_no'" ng-class="{sel: $index == '{{vm.Chindex}}'}" ><a href="{{vm.parent}}/{{vm.categoryname | lowercase}}/{{vm.articleid}}/{{Ebook.alias_url | lowercase}}">
										{{Ebook.chapter_name}}</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 visible-xs">
							<div class="row article_edit navbar navbar-inverse navigation-panel" id="navigation-panel" role="navigation">
								<div class="container">
									<!-- Brand and toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" id="ebooktglButt" name="ebooktglButt" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<!-- Collect the nav links, forms, and other content for toggling -->
									<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-2" >
										<ul class="nav site-nav">
											<li class="flyout" ng-repeat="Ebook in vm.Ebooks | orderBy:'sequence_no'" ng-class="{sel: $index == '{{vm.Chindex}}'}" >
												<a href="{{vm.parent}}/{{vm.categoryname | lowercase}}/{{vm.articleid}}/{{Ebook.alias_url | lowercase}}">
													{{Ebook.chapter_name}}</a>
											</li>
										</ul>								
									</div><!-- /.navbar-collapse -->
								</div><!-- /.container-fluid -->
								
							</div>
						</div>
						<div class="col-lg-6 col-md-8 col-sm-8">				
							<div class="article_edit alignPaddingTop">
								
								<div class="carousel slide" id="myCarousel">
									<h3 class="ebkInfoWizard">{{vm.EbookInfo.chapter_name}}</h3>
									<div class="adds hidden-md hidden-sm hidden-xs">		
										<ins class="adsbygoogle"
										style="display:block"
										data-ad-client="ca-pub-7097333205788199"
										data-ad-slot="9573289661"
										data-ad-format="auto"></ins>
										<script defer type="text/javascript">
											(adsbygoogle = window.adsbygoogle || []).push({});
										</script>
									</div>
									
									<div class="carousel-inner">		
										
										
										<p ng-bind-html="vm.to_trusted(vm.EbookInfo.chapter_description)" class="ebookinformation"></p>
										<button class="btn btn-primary" ng-click="vm.pre(vm.EbookInfo.alias_url)">{{vm.JsonVals.pre}}</button>
										<button class="btn btn-primary pull-right" ng-click="vm.next(vm.EbookInfo.alias_url)">{{vm.JsonVals.nxt}}</button>
										
										<div class="clearfix"></div>
									</div>
								</div><!-- /#myCarousel -->	
							</div>
						</div>
						<div class="col-lg-2 col-md-12 col-sm-12">
							<div class="adds">		
								<ins class="adsbygoogle"
								style="display:block"
								data-ad-client="ca-pub-7097333205788199"
								data-ad-slot="9573289661"
								data-ad-format="auto"></ins>
								<script defer type="text/javascript">
									(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="clear"></div>