<div class="container content">	
	<div class="col-md-12 article_edit">
		<div class="pull-left col-md-12 controlBar">
			<form>
				<button type="submit" class="btn btn-default" id="delAtclButt" name="delAtclButt" ng-click="vm.reload();" data-toggle="modal" data-target="#createnew"  title="Create New E-books Chapter"><span class="glyphicon glyphicon-plus"></span> </button>
				<button type="submit" ng-disabled="vm.buttonnavi" class="btn btn-default" id="delAtclButt" name="delAtclButt" ng-click="vm.changestatus('D');" title="Delete"><span class="glyphicon glyphicon-trash"></span> </button>
				<button type="submit" ng-disabled="vm.buttonnavi"  class="btn btn-default" id="delAtclDisAprv" name="delAtclDisAprv" ng-click="vm.changestatus('N');" title="DisApprove"><span class="glyphicon glyphicon-ban-circle"></span> </button>
				<button type="submit" ng-disabled="vm.buttonnavi"  class="btn btn-default" id="delAtclDisAprv" name="delAtclDisAprv" ng-click="vm.changestatus('Y');" title="Approve"><span class="glyphicon glyphicon-ok"></span> </button>
			</form>
			<p class="postArticleCont postmsg" ng-if="vm.successmessage!=''">{{vm.successmessage}}</p>
			<div class="clearfix"></div>
		</div>
		
		<div class="modal fade" id="createnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close new_close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="text-center">{{vm.JsonVals.ebook_post}}</h3>
						<hr class="postArticleHr">
						<p class="postArticleCont" ng-if="vm.successmessage!=''">{{vm.successmessage}}</p>
						<form class="form-horizontal" role="form" name="ebookpostporm" >						
							<fieldset ng-disabled="vm.isClicked">
								<div class="col-md-12 col-sm-12 alignPaddingLftRgt">
									<div class="col-md-6 col-sm-6 ebookAlign alignPaddingLftRgt " >					
										<div class="col-md-12 mobAlignpadding">
											<select class="form-control col-sm-5" id="category_id" name="category_id" ng-options="cList.category_id as cList.category_name for cList in vm.cLists" ng-model="vm.ebookpost.category_id" required ng-disabled='vm.isselected' ng-change="vm.getChapterList(vm.ebookpost.category_id,'new')">
												<option value="">Choose any category</option>
											</select>					
										</div>
										<input type="hidden" ng-model="ebookpost.book_id"/>
										
									</div>
									<div class="col-md-6 col-sm-6 ebookAlign alignPaddingLftRgt" >					
										<div class="col-md-12 mobAlignpadding">
											<select class="form-control col-sm-5" id="chapter_id" name="chapter_id" ng-options="chList.chapter_id as chList.chapter_name for chList in vm.bookslists| filter:{chapter_is_approved:'Y'}| filter:{category_id:vm.ebookpost.category_id}" ng-model="vm.ebookpost.chapter_id" required ng-disabled='vm.isselected' ng-hide="vm.newchapter">
												<option value="">Choose chapter name</option>
											</select>
											<select class="form-control col-sm-5" id="chapter_id" name="chapter_id" ng-options="chList.chapter_id as chList.chapter_name for chList in vm.Bookslists| filter:{chapter_is_approved:'Y'}| filter:{category_id:vm.ebookpost.category_id}" ng-model="vm.ebookpost.chapter_id" required ng-disabled='vm.isselected' ng-show="vm.newchapter">
												<option value="">Choose chapter name</option>
											</select>
										</div>
										
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="form-group" id="ebkPstTxtArea">
										<div class="col-sm-12 mobAlignpadding">
											<wysiwyg 
											textarea-class="form-control"  
											textarea-height="380px" 			        
											required 
											ng-model="vm.ebookpost.chapter_description" 
											enable-bootstrap-title="true"
											textarea-menu="menu" 
											disabled='vm.isClicked'
											ng-required="!(vm.ebookpost.chapter_description.length)">
										</wysiwyg>
									</div>	
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<div class="col-lg-10 paddingLftRgtAlign" style="margin-top: 13px;">
										<button type="submit" class="btn btn-primary" ng-show="vm.BtnShow" ng-disabled="ebookpostporm.$invalid" ng-click="vm.EbookPost(vm.ebookpost)">Submit</button>
										<button type="submit" class="btn btn-primary" ng-hide="vm.BtnShow" ng-disabled="ebookpostporm.$invalid" ng-click="vm.EbookPost(vm.ebookpost,'U')">Submit</button>						
									</div>
								</div>
							</div>
						</fieldset>
					</form>						
				</div>							  
			</div>
		</div>
	</div>	
	
	<div class="modal fade" id="viewblack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close new_close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 style="color: #c0225d;">{{vm.ebookpost.chapter_name}}</h4>
					<p ng-bind-html="vm.ebookpost.chapter_description"  class="ebookinformation"></p>
					
					<div class="clearfix"></div>
					
				</div>	
				<div class="modal-footer" style="text-align: center">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>						  
			</div>
		</div>
	</div> 
	
	<div class="col-md-12 alignPaddingLftRgt">
		<div class="col-md-2 col-xs-12 pstActlDpDwn iqAtclType">
			<div class="form-group">							  
				<select class="form-control" id="select" ng-model="iqs">
					<option value="">All</option>
					<option value="Y">Approved</option>
					<option value="N">Disapproved</option>
					<option value="P">Pending</option>
				</select>	
			</div>
		</div>
		<div class="col-md-3 col-xs-12 pstActlDpDwn iqCat">
			<div class="form-group">						
				<select class="form-control" id="category_idf" name="category_idf" ng-options="cList.category_id as cList.category_name for cList in vm.cLists" ng-model="category_idf">
					<option value="">Choose Category</option>
				</select>	
			</div>
		</div>
		<div class="col-md-7 col-xs-12 iqSearch"> 
			<form role="search">
				<div class="input-group">
					<input class="form-control" ng-model="iqsearch" placeholder="Search" id="rch-term" type="text">
					<div class="input-group-btn">
						<button class="btn btn-default" name="iqsearchBttn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</form>
		</div>	
		<div class="clearfix"></div>				
	</div>
	<div id="no-more-tables">                
		<table class="col-md-12 table-bordered table-striped table-condensed cf" style="text-align:center">
			<thead class="cf divhead">
				<tr >	<th class="col-md-1" style="text-align:center">S No</th>
					<th class="col-md-2" style="text-align:center">Category Name</th>
					<th class="col-md-7" style="text-align:center">Ebook Chapter Name</th>
					<th class="col-md-2" style="text-align:center">Buttons</th>
				</tr>
			</thead>
			<tbody>                
				<form>
					<tr ng-repeat="booklist in vm.bookslists |filter:iqsearch | orderBy:'book_id' | filter:{content_is_approved:iqs} | filter:{chapter_description:''}:false  | filter:{category_id:category_idf||undefined}:true" class="deleteArticle">
						<td data-title="S No">
							<input type="checkbox" id="{{booklist.book_id}}" ng-checked="vm.selection.indexOf(booklist.book_id) > -1" ng-click="vm.MultipleSelection(booklist.book_id)"  />										
							<label for="{{booklist.book_id}}"  ng-click="showme=!showme" ></label>
						</td>
						<td data-title="Category Name">{{booklist.category_name}}</td>
						<td data-title="Article" style="text-align: left">
							<a href="" ng-style="booklist.content_is_approved=='Y' && { 'color' : '#337ab7' } || booklist.content_is_approved=='N' && { 'color' : '#d9534f' } || {'color':'#000;'}">{{booklist.chapter_name}}</a>
							<h6 class="title_by">
								<span ng-if="booklist.content_posted_by">Posted By :</span> 
								<span class="qpostedby">{{booklist.content_posted_by}}</span>
								<span ng-if="booklist.content_updated_by">Updated By :</span> 
								<span class="qpostedby">{{booklist.content_updated_by}}</span>
								<span ng-if="booklist.content_approved_by">Approved By :</span> 
								<span class="qpostedby">{{booklist.content_approved_by}}</span>
								<span ng-if="booklist.content_disapproved_by">Disapproved By :</span> 
								<span class="qpostedby">{{booklist.content_disapproved_by}}</span>
							</h6> 
						</td>
						<td data-title="Buttons" >
							<button ng-disabled="showme"  class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#createnew"  title="Edit E-books Chapter" ng-click="vm.update_iq_info(booklist,booklist.content_is_approved)">Edit</button>
							<button ng-disabled="showme"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewblack" ng-click="vm.update_iq_info(booklist)">View</button>  
						</td>                                    
					</tr>					
				</form> 
			</tbody>
		</table>
	</div>
</div>
</div>		