<div class="container content">	
	<div class="col-md-12 article_edit exceptionLog">
		<div class="pull-left col-md-12 controlBar">
			<form>
				<button type="submit" class="btn btn-default" id="delAtclButt" name="delAtclButt" ng-click="vm.reload();" data-toggle="modal" data-target="#createnew"  title="Create New E-books Chapter"><span class="glyphicon glyphicon-plus"></span> </button>
				<button type="submit" ng-disabled="vm.buttonnavi" class="btn btn-default" id="delAtclButt" name="delAtclButt" ng-click="vm.changestatus('D');" title="Delete"><span class="glyphicon glyphicon-trash"></span> </button>
				<button type="submit" ng-disabled="vm.buttonnavi"  class="btn btn-default" id="delAtclDisAprv" name="delAtclDisAprv" ng-click="vm.changestatus('N');" title="DisApprove"><span class="glyphicon glyphicon-ban-circle"></span> </button>
				<button type="submit" ng-disabled="vm.buttonnavi"  class="btn btn-default" id="delAtclDisAprv" name="delAtclDisAprv" ng-click="vm.changestatus('Y');" title="Approve"><span class="glyphicon glyphicon-ok"></span> </button>
			</form>
			<p class="postArticleCont postmsg" ng-if="vm.successmessage!=''">{{vm.successmessage}}</p>
			<div class="clearfix"></div>
		</div>
		<div class="modal fade" id="createnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close new_close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<p class="postArticleCont" ng-if="vm.successmessage!=''">{{vm.successmessage}}</p>
						<form class="form-horizontal" role="form" name="ebookpostporm" >						
							<fieldset ng-disabled="vm.isClicked">
									<h3 class="text-center no_head">
											{{vm.JsonVals.ebook_post}}
										</h3>
										<hr class="postArticleHr">	
								<div class="form-group col-md-6 col-sm-12">
									<select class="form-control form-control" id="category_id" name="category_id" ng-options="cList.category_id as cList.category_name for cList in vm.cLists" ng-model="vm.ebookpostch.category_id" required ng-change="vm.selectedItemChanged(vm.ebookpostch.category_id)"  ng-disabled="vm.showmee">
										<option value="">-- choose any category --</option>
									</select>
								</div>
								<div class="form-group col-md-6 col-sm-12 iqseq">
									<input class="form-control seqnum"  type="text" ng-model="vm.ebookpostch.sequence_no" placeholder="Sequence Number" disabled> 
								</div>	
								<div class="form-group col-sm-12">
									<label class="control-label ebkPstBk" for="focusedInput">{{vm.JsonVals.cname}}</label>			
									<input class="form-control"  type="text" ng-model="vm.ebookpostch.chapter_name" placeholder="Enter Chapter Name" ng-blur="vm.copyText(vm.ebookpostch.chapter_name)" required> 
									<input type="hidden" ng-model="ebookpostch.chapter_id"> 
								</div>						 
								<div class="form-group col-sm-12">
									<label class="control-label ebkPstBk" for="focusedInput">{{vm.JsonVals.page_url}}</label>	
									<input class="form-control" type="text" ng-model="vm.ebookpostch.alias_url" ng-disabled="true" placeholder="Enter Page URL" required>
								</div>			
								<div class="form-group  col-sm-12">
									<div class="col-lg-10 paddingLftRgtAlign" style="margin-top: 13px;">										
										<button type="submit" class="btn btn-primary" ng-show="vm.BtnShow" ng-disabled="ebookpostporm.$invalid" ng-click="vm.ebookchapterpost(vm.ebookpostch)">Submit</button>
										<button type="submit" class="btn btn-primary" ng-hide="vm.BtnShow" ng-disabled="ebookpostporm.$invalid" ng-click="vm.ebookchapterpost(vm.ebookpostch,'U')">Submit</button>						
									</div>
								</div>
							</fieldset>
						</form>										
					</div>							  
				</div>
			</div>
		</div>	
		<div class="modal fade" id="viewblack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close new_close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4><span style="color: #c0225d;">E-Book Chapter Name :</span>  {{vm.ebookpostch.chapter_name}}</h4>
						<div class="clearfix"></div>
						<!-- <p ng-bind-html="vm.to_trusted(vm.ebookpostch.chapter_description)"></p>						 -->
					</div>
					<div class="modal-footer" style="text-align: center">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>							  
				</div>
			</div>
		</div>
		<div class="col-md-12 alignPaddingLftRgt">
			<div class="col-md-2 col-xs-12 pstActlDpDwn iqAtclType">
				<div class="form-group">							  
					<select class="form-control" id="select" ng-model="iqs">
						<option value="">All</option>
						<option value="Y">Approved</option>
						<option value="N">Disapproved</option>
						<option value="P">Pending</option>
					</select>	
				</div>
			</div>
			<div class="col-md-3 col-xs-12 pstActlDpDwn iqCat">
				<div class="form-group">						
					<select class="form-control" id="category_idf" name="category_idf" ng-options="cList.category_id as cList.category_name for cList in vm.cLists" ng-model="category_idf">
						<option value="">Choose Category</option>
					</select>	
				</div>
			</div>
			<div class="col-md-7 col-xs-12 iqSearch"> 
				<form role="search">
					<div class="input-group">
						<input class="form-control" ng-model="iqsearch" placeholder="Search" id="rch-term" type="text">
						<div class="input-group-btn">
							<button class="btn btn-default" name="iqsearchBttn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</form>
			</div>	
			<div class="clearfix"></div>				
		</div>
		<div id="no-more-tables">                
			<table class="col-md-12 table-bordered table-striped table-condensed cf" style="text-align:center">
				<thead class="cf divhead">
					<tr >	<th style="text-align:center">S No</th>
						<th style="text-align:center">Category Name</th>
						<th style="text-align:center">Ebook Chapter Name</th>
						<th style="text-align:center">Buttons</th>
					</tr>
				</thead>
				<tbody>                
					<form>
						<tr ng-repeat="booklist in vm.bookslists |filter:iqsearch |filter:{chapter_is_approved:iqs} |filter:{category_id:category_idf||undefined}:true" class="deleteArticle">
							<td data-title="S No">
								<input type="checkbox" id="{{booklist.chapter_id}}" ng-checked="vm.selection.indexOf(booklist.chapter_id) > -1" ng-click="vm.MultipleSelection(booklist.chapter_id)"  />										
								<label for="{{booklist.chapter_id}}"  ng-click="showme=!showme" ></label>
							</td>
							<td data-title="Category Name">{{booklist.category_name}}</td>
							<td data-title="Ebook Chapter Name" style="text-align: left">
								<a href="" ng-if="booklist.chapter_is_approved=='Y'" style="color: #337ab7">{{booklist.chapter_name}}</a>									
								<a href="" ng-if="booklist.chapter_is_approved=='N'" style="color: #d9534f">{{booklist.chapter_name}}</a>									
								<a href="" ng-if="booklist.chapter_is_approved=='P'">	{{booklist.chapter_name}}</a>						
								<h6 class="title_by">
									<span ng-if="booklist.chapter_posted_by">Posted By :</span> 
									<span class="qpostedby">{{booklist.chapter_posted_by}}</span>
									<span ng-if="booklist.chapter_updated_by">Updated By :</span> 
									<span class="qpostedby">{{booklist.chapter_updated_by}}</span>
									<span ng-if="booklist.chapter_approved_by">Approved By :</span> 
									<span class="qpostedby">{{booklist.chapter_approved_by}}</span>
									<span ng-if="booklist.chapter_disapproved_by">Disapproved By :</span> 
									<span class="qpostedby">{{booklist.chapter_disapproved_by}}</span>
								</h6> 
							</td>
							<td data-title="Buttons" >
								<button ng-disabled="showme"  class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#createnew"  title="Edit E-books Chapter" ng-click="vm.update_iq_info(booklist,booklist.chapter_is_approved)">Edit</button>
								<button ng-disabled="showme"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewblack" ng-click="vm.update_iq_info(booklist)">View</button>  
							</td>                                    
						</tr>
						
					</form> 
				</tbody>
			</table>
		</div>
	</div>
</div>		