		<div class="containerWizard">
			<div class="col-md-12 main_content">
				<div class="row">
					<div class="col-lg-2 col-md-12 col-sm-12">
						<div class="adds">		
							<ins class="adsbygoogle"
							style="display:block"
							data-ad-client="ca-pub-7097333205788199"
							data-ad-slot="9573289661"
							data-ad-format="auto"></ins>
							<script defer type="text/javascript">
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 hidden-xs">
						<div class="row article_edit articleContHeading">
							<hr class="line_hr">
							<div class="col-md-12 menu_pannel">
								<ul >
									<li ng-if="Ebooksinfo" ><a>{{vm.Ebooksinfo}}</a></li>
									<li ng-repeat="Ebook in vm.Ebooks| orderBy:'sequence_no'"><a href="{{vm.parent}}/{{vm.category_name | lowercase}}/{{vm.category_id}}/{{Ebook.alias_url | lowercase}}">
										{{Ebook.chapter_name}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 visible-xs">
						<div class="row article_edit navbar navbar-inverse navigation-panel ebooksnav" id="navigation-panel" role="navigation">
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" id="ebooktglButt" name="ebooktglButt" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-2" >
									<ul class="nav site-nav">
										<li class="flyout" ng-repeat="Ebook in vm.Ebooks| orderBy:'sequence_no'">
											<a class="text-left" href="{{vm.parent}}/{{vm.category_name | lowercase}}/{{vm.category_id}}/{{Ebook.alias_url | lowercase}}">{{Ebook.chapter_name}} </a>
										</li>
									</ul>								
								</div><!-- /.navbar-collapse -->
							</div><!-- /.container-fluid -->
							
						</div>
					</div>
					<div class="col-lg-6 col-md-8 col-sm-8">				
						<div class="article_edit alignPaddingTop">
							<hr class="line_hr">
							<div class="carousel slide" id="myCarousel">
								
								<div class="adds hidden-md hidden-sm hidden-xs">		
									<ins class="adsbygoogle"
									style="display:block"
									data-ad-client="ca-pub-7097333205788199"
									data-ad-slot="9573289661"
									data-ad-format="auto"></ins>
									<script defer type="text/javascript">
										(adsbygoogle = window.adsbygoogle || []).push({});
									</script>
								</div>
								<h3 class="ebkInfo-Wizard text-center">{{vm.category_name| uppercase }}</h3>
								<p>
									An eBook is defined as a portable electronic device for reading digital books and periodicals, better known as e-books. Although sometimes defined as <b>"an electronic version of a printed book".</b> These e-book readers are normally designed to operate over long hours by consuming minimal power. Most e-book readers rely on the e-ink technology for their displays.
								</p>
								<p>
									Major usage of this eBook is unlike a printed book, an eBook is <b>“flexible”</b>, meaning that it can be manipulated in many ways. Print books and PDFs, on the other hand, are essentially immovable.
								</p>
								
								<b>A part from these, eBook’s have following advantages:</b>
								<ol>
									<li>These eBook readers are a piece of cake to carry around compared to some of big reference books.</li>
									<li>When you need certain information, you can get it immediately, by downloading an e-book.</li>
									<li>E-books can show links, for easy access to more information and related websites.</li>
									<li>Functional and convenient: It combines with many other software, make itself more functional and convenient.</li>
									<li>Easy for authors or publishers to revise or update the books.</li>
									<li>Personal publish: Every person can write books and let people read them through Internet without publishing to a paper book.
									</li>
								</ol>
							</div><!-- /#myCarousel -->	
						</div>
					</div>
					<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
						<div class="adds">		
							<ins class="adsbygoogle"
							style="display:block"
							data-ad-client="ca-pub-7097333205788199"
							data-ad-slot="9573289661"
							data-ad-format="auto"></ins>
							<script defer type="text/javascript">
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="clear"></div>