<div class="container content">
	
	<div class="col-md-12 main_content">
		
		<div class="row forgotPwd">
			
			<div class="login_panel col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3"> 
				
				<div class="panel panel-info" >
					<div class="panel-heading">
						<div class="panel-title">{{vm.JsonVals.panel_title}}</div>
					</div>
					<div style="padding-top:30px" class="panel-body">
						<div style="color:red;padding-bottom:5px;">{{vm.error}}</div>
						<form class="form col-md-12 center-block" name="forgotForm">
							<div style="margin-bottom: 20px" class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								<input type="text" class="form-control" name="email" id="email" ng-model="vm.user.email" placeholder="Email" ng-required="true">                                          
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-block btn-primary" ng-disabled="forgotForm.$invalid" id="fgrtPwdSbtButt" name="fgrtPwdSbtButt" style="padding: 10px;" ng-click="vm.forgot();">{{vm.JsonVals.submit}}</button>
							</div>
							<p><a href="/login">{{vm.JsonVals.back}}</a></p>
						</form>
					</div>                     
				</div>  
			</div>
			<div class="col-md-4 col-sm-3 loginAdd">
				
				<ins class="adsbygoogle"
				style="display:block"
				data-ad-client="ca-pub-7097333205788199"
				data-ad-slot="9573289661"
				data-ad-format="auto"></ins>
				<script type="text/javascript">
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>	
	</div>
</div>