<!-- Dynamic Header Loades Here -->
<div ng-controller="HeaderCtrl as vm">
    <div class="fixedheader">
        <div class="head-panel fixedheader topNavWizard">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" id="tglButt" name="tglButt" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img ng-src={{images.headerLogo}}></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1" >
                    <ul class="nav site-nav">
                        <li class="flyout" ng-repeat="main_menu in vm.topnav">
                            <a href="{{main_menu.url}}/{{main_menu.category_id}}" ng-if="main_menu.childList.length < 1">{{main_menu.name}} </a>
                            <a href="" ng-if="main_menu.childList.length > 1" class="headnavimg">{{ main_menu.name}}</a>
                            <!-- Flyout -->
                            <ul class="flyout-content nav stacked">
                                <li class="flyout-alt" ng-repeat="child_menu in main_menu.childList">
                                    <a href="{{child_menu.url}}/{{child_menu.category_id}}" ng-if="child_menu.ChildSubNavigationList.length < 1">{{child_menu.category_name}}</a>
                                    <a href="" ng-if="child_menu.ChildSubNavigationList.length > 1">{{child_menu.category_name}}</a>
                                    <!-- Flyout -->
                                    <ul class="flyout-content nav stacked">
                                        <li class="flyout-alt" ng-repeat="sub_child_menu in child_menu.ChildSubNavigationList">
                                            <a href="{{sub_child_menu.sub_category_url}}/{{sub_child_menu.sub_category_id}}">{{sub_child_menu.sub_category_name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="icons navbar-right">
                        <li class="facebook"><a href="https://www.facebook.com/spinotuts/" target="_blank" title="SpinoTuts @ Facebook"></a></li>
                        <li class="googleplus"><a href="https://www.plus.google.com" target="_blank" title="SpinoTuts @ Google+"></a></li>
                        <li class="twitter"><a href="https://www.twitter.com" target="_blank" title="SpinoTuts @ Twitter"></a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/company/spinotuts" target="_blank" title="SpinoTuts @ LinkedIn"></a></li>
                        <li class="youtube"><a href="https://www.youtube.com" target="_blank" title="SpinoTuts @ Youtube"></a></li>
                    </ul>
                    
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="clearfix"></div>
        </div>
        <div class="navbar navbar-inverse navbar-fixed-top navigation-panel navWizard" id="navigation-panel" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" id="tglmainButt" data-toggle="collapse" data-target="#bs-example-navbar-collapse-11">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#"></a> -->
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-11">
                    <ul class="nav site-nav">
                        <li class="flyout" ng-repeat="main_menu in vm.menu">
                            <a href="{{main_menu.url}}/{{main_menu.category_id}}" ng-if="main_menu.childList.length < 1">{{main_menu.name}}</a>
                            <a href="" ng-if="main_menu.childList.length > 1">{{ main_menu.name}} <b class="caret"></b></a>
                            <!-- Flyout -->
                            <ul class="flyout-content nav stacked">
                                <li class="flyout-alt" ng-repeat="child_menu in main_menu.childList" >
                                    <a href="{{child_menu.url}}/{{child_menu.category_id}}" ng-if="child_menu.ChildSubNavigationList.length < 1" >{{child_menu.category_name}}</a>
                                    <a href="" ng-if="child_menu.ChildSubNavigationList.length > 1">{{child_menu.category_name}} <b class="caret"></b></a>
                                    <!-- Flyout -->
                                    <ul class="flyout-content nav stacked">
                                        <li class="flyout-alt" ng-repeat="sub_child_menu in child_menu.ChildSubNavigationList">
                                            <a href="{{sub_child_menu.sub_category_url}}/{{sub_child_menu.sub_category_id}}">{{sub_child_menu.sub_category_name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <script defer type="text/javascript">
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7097333205788199",
            enable_page_level_ads: true
        });
    </script>
    <!-- Google Tag Manager -->
    <script defer>
        (function(w,d,s,l,i)
        {
            w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
            var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
            j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
            f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5H6NRJG');
    </script>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="video-item-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 alignPaddingLftRgt">
                <div class="video-image-wrapper">
                    <img src={{images.banner}} alt="" class="img-responsive header-img" />
                    <div class="play-item-wrapper">
                        <a href="register" class="btn btn-danger img-responsive">Join Now</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <hr class="custom-hr">
</div>
<!-- End Google Tag Manager -->
<script type="text/javascript">    
    $(document).ready(function(){          
        $('#tglButt').click(function(){
            $('#bs-example-navbar-collapse-11').removeClass('in');
        });
        $('#bs-example-navbar-collapse-11').on('click', event => {
            var wd=$(document).width(); 
            if(wd<=1000){
                var clickedElement = $(event.target);                
                if(clickedElement[0].innerHTML.indexOf("caret") > -1){
                    return false;
                }
            }
            // $('.flyout-content').css("left",'-99999px');
            $('.flyout-content').css("display",'none');            
        });
        $('#bs-example-navbar-collapse-1').on('click', event => {
            var wd=$(document).width(); 
            if(wd<=1000){
                var clickedElement = $(event.target);                
                if(clickedElement[0].innerHTML.indexOf("userWizard") > -1){
                    return false;
                }
            }
        });
    });    
</script>
