<div class="col-md-12 col-sm-12 article_bg">
	<div class="row" style="margin-top:10px;">
		<div class="col-md-4 col-sm-4">
			
			<table class="table table-bordered table-striped table-hover tablehead">
				<thead> 
					<tr> 
						<th class="col-md-3 col-xs-3 text-center">{{vm.JsonVals.s_no}}</th>
						<th class="col-md-9 col-xs-9">{{vm.JsonVals.name}}</th>
					</tr>
				</thead>
			</table>
			<div style="height:620px;overflow-y:auto;">
				<table class="table table-bordered table-striped table-hover">
					<tbody>
						<tr ng-repeat="list in vm.menuNav[0].TopNavLevel">
							<th class="col-md-3 col-xs-3 text-center">{{$index+1}}</th>
							<td class="col-md-9 col-xs-9">
								<a ng-click="vm.updatearticleinfo(list)" href="">
									{{list.menu_name}}
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
		<div class="col-md-8 col-sm-8">
			<h3 class="text-center no_head">
				<button class="btn btn-primary btn-xs pull-left" ng-click="vm.reload()">
					<a href="" class="glyphicon glyphicon-refresh txt_clr" ></a>
				</button>{{vm.JsonVals.TopNav}}
			</h3>
			<hr class="postArticleHr">
			<div class="col-md-12 col-xs-12">
				<p class="succesmsg" ng-if="vm.msg">{{vm.msg}}</p>
				<form role="form" name="createTopNavForm" >
						<fieldset ng-disabled="vm.isClicked">
					<div class="form-group">
						<div class="col-md-6">
							<label class="control-label article_formtext" for="tmenuName">{{vm.JsonVals.menuName}}</label>
							<input class="form-control" id="tmenuName" type="text" ng-model="vm.TopMenuItem.menu_name" placeholder="Enter Menu Name" ng-blur="vm.copyTText(vm.TopMenuItem.menu_name)" required> 
						</div>
						<div class="col-md-6">
							<label class="control-label article_formtext" for="tpageUrl">{{vm.JsonVals.pageUrl}}</label>
							<input class="form-control" id="tpageUrl" type="text" ng-model="vm.TopMenuItem.page_url" ng-disabled="true" placeholder="Enter Page URL" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<label class="control-label article_formtext" for="pageName">{{vm.JsonVals.pageName}}</label>
							<input class="form-control" id="pageName" placeholder="Enter Page Name" ng-model="vm.TopMenuItem.page_name" type="text" required>
						</div>
						<div class="col-md-6">
							<label class="control-label article_formtext" for="controller">{{vm.JsonVals.ctrl_name}}</label>
							<input class="form-control" id="controller" placeholder="Enter Controller Name" ng-model="vm.TopMenuItem.controller" min=1 type="text" required>
						</div>                
					</div>				
					<div class="form-group">
						<div class="col-md-6">
							<label class="control-label article_formtext" for="lookup_value_id">Menu type</label>         
							<select class="selectpicker form-control" id="menuType" name="lookup_value_id" ng-options="menuType.lookup_value_id as menuType.lookup_name for menuType in vm.menuTypes" ng-model="vm.TopMenuItem.lookup_value_id" required>
								<option value="">-- choose menu type --</option>
							</select>
						</div>
						<div class="col-md-6">
							<label class="control-label article_formtext" for="userRight">{{vm.JsonVals.userRight}}</label>
							<select class="selectpicker form-control" id="userRight" name="category_id" ng-options="userRight.user_rights_id as userRight.user_rights for userRight in vm.userRights" ng-model="vm.TopMenuItem.user_rights_id" required>
								<option value="">-- choose user rights --</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						
						<div class="col-md-6">
							<label class="control-label article_formtext" for="sequence_no">{{vm.JsonVals.seqNo}}</label>
							<input class="form-control" id="sequence_no" placeholder="Enter Sequence Number" ng-model="vm.TopMenuItem.sequence_no" min=1 type="number" required>
							
						</div>
						<div class="col-md-6">
							<label class="control-label article_formtext" for="isactive">{{vm.JsonVals.isactive}}</label>
							<input id="isactive" class="form-control rbtn" type="checkbox" ng-model="vm.TopMenuItem.is_active" ng-true-value="'Y'" ng-false-value="'N'" />
							
						</div>
					</div>
					<div class="clearfix"></div>
					
					<div class="form-group">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary" ng-show="vm.createbtn" ng-click="vm.createtopnav(vm.TopMenuItem);" ng-disabled="createTopNavForm.$invalid">{{vm.JsonVals.create}}</button>
							<button type="submit" class="btn btn-primary" ng-show="vm.updatebtn" ng-click="vm.updatetopnav(vm.TopMenuItem)" ng-disabled="createTopNavForm.$invalid">{{vm.JsonVals.update}}</button>
							<button type="rest" class="btn btn-danger" ng-click="vm.reload();">{{vm.JsonVals.cancel}}</button>
						</div>
					</div>
				</fieldset>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>