<div class="container">
	<div class="col-md-12 article_edit exceptionLog">
		<div class="row">
			<div class="col-md-12 col-xs-12" >
				<div class="row">
					<div class="col-md-8 col-xs-12 artcleSearchBox">
						<form class="navbar-form ng-pristine ng-valid articleLst_Align" role="search">
							<div class="col-md-12 col-xs-12 input-group add-on">
								<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text" ng-model="search" >
								<div class="input-group-btn">
									<button class="btn btn-default" type="button" id="atclSrchButt" name="atclSrchBttn"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="no-more-tables" >
					<table class="table table-bordered table-hover actlRptTbl"> 
						<thead> 
							<tr> 
								<th class="col-md-1 text-center">{{JsonVals.s_no}}</th> 
								<th class="col-md-1 text-center">{{JsonVals.category}}</th>
								<th class="col-md-7 text-center">{{JsonVals.test_title}}</th> 
								<th class="col-md-2 text-center">{{JsonVals.duration}}</th>
								<th class="col-md-1 text-center">{{JsonVals.action}}</th> 
							</tr> 
						</thead> 
						<tbody>
							<tr ng-repeat="testList in testLists|filter:search">
								<td data-title="{{JsonVals.s_no}}" class="text-center">{{$index+1}}</td>
								<td data-title="{{JsonVals.category}}">{{testList.category}}</td>
								<td data-title="{{JsonVals.test_title}}">{{testList.test_title}}</td>
								<td data-title="{{JsonVals.duration}}" class="text-center">{{testList.duration}}( {{JsonVals.mins }})</td>
								<td data-title="{{JsonVals.action}}"><a href="/{{testList.test_url}}" class="button" >{{JsonVals.take}}</a></td>
							</tr>
						</tbody> 
					</table>
				</div>		
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>