<div class="container content">	
	<div class="col-md-12 article_edit exceptionLog">
		<div class="pull-left col-md-12 controlBar">
			<form>
				<button type="submit" class="btn btn-default" id="delAtclButt" name="delAtclButt" ng-click="vm.reload();" data-toggle="modal" data-target="#createnew"  title="Create New E-books Chapter"><span class="glyphicon glyphicon-plus"></span> </button>
				<button type="submit" ng-disabled="vm.buttonnavi" class="btn btn-default" id="delAtclButt" name="delAtclButt" ng-click="vm.changestatus('D');" title="Delete"><span class="glyphicon glyphicon-trash"></span> </button>
				<button type="submit" ng-disabled="vm.buttonnavi"  class="btn btn-default" id="delAtclDisAprv" name="delAtclDisAprv" ng-click="vm.changestatus('N');" title="DisApprove"><span class="glyphicon glyphicon-ban-circle"></span> </button>
				<button type="submit" ng-disabled="vm.buttonnavi"  class="btn btn-default" id="delAtclDisAprv" name="delAtclDisAprv" ng-click="vm.changestatus('Y');" title="Approve"><span class="glyphicon glyphicon-ok"></span> </button>
			</form>
			<p class="postArticleCont postmsg" ng-if="vm.successmessage!=''">{{vm.successmessage}}</p>
			<div class="clearfix"></div>
		</div>
		
		<div class="modal fade" id="createnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close new_close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<form class="form-horizontal" role="form" name="registerForm">
								<fieldset ng-disabled="vm.isClicked">
						<div class="col-md-6 col-sm-6">
							
							<h3 class="text-center no_head">
								{{vm.JsonVals.article_title_post}}
							</h3>
							<hr class="postArticleHr">
						
									
									<div class="form-group" >															
										<div class="col-sm-12" >
											<select class="selectpicker form-control field_area" id="category_id" name="category_id" 
											ng-options="cList.category_id as cList.category_name for cList in vm.cLists" 
											ng-model="vm.article.category_id" required ng-disabled="vm.showmee">
											<option value="">{{vm.JsonVals.post_article_form_fields[0].select_category}}</option>
										</select>
										
									</div>
								</div>						
								
								<div class="form-group" >								 
									<div class="col-sm-12">
										<input type="text" class="form-control field_area" id="article_name" name="article_name" ng-model="vm.article.article_name" maxlength="150" placeholder="Article Name" ng-blur="vm.copyText(vm.article.article_name)" required title="Enter Article Name" >
									</div>
								</div>
								
								<div class="form-group" >								 
									<div class="col-sm-12">
										<input type="text" class="form-control field_area" id="alias_url" name="alias_url" ng-model="vm.article.alias_url" maxlength="150" placeholder="Enter Alias URL" readonly>
									</div>
								</div>
								
								<div class="form-group">							  
									<div class="col-sm-12">
										<textarea class="form-control" rows="6" name="article_short_desc" maxlength="200" id="article_short_desc" ng-model="vm.article.article_short_desc"  placeholder="Enter Article Short Description" required  title="Enter Article Short Description"></textarea>
									</div>
								</div>
								
								<div class="form-group">
									
									<div class="col-sm-12">
										
										
										<input type="text" class="form-control field_area" id="example_name" name="example_name" ng-model="vm.article.example_name" maxlength="100" placeholder="Enter Example Name"  title="Enter Example Name">
										
										
									</div>
								</div>
								<div class="form-group" >
									
									<div class="col-sm-12">
										
										<textarea class="form-control" rows="10" id="code_desc" maxlength="4000" name="code_desc" ng-model="vm.article.code_desc"  title="Enter Code Description" placeholder="Enter Code Description"></textarea>
										
									</div>
								</div>
								
							</div>
							<div class="col-md-6 col-sm-6 lftRgtPadding pstAtclRgtBx">
								<h3 class="text-center no_head">&nbsp<span class="successmessage" ng-if="vm.successmessage">{{vm.successmessage}}</span></h3>
								
								<hr class="postArticleHr">
								<div class="form-group">
									
									<div class="col-sm-12 lftRgtPadding">
										<input type="text" class="form-control field_area" id="article_title" name="article_title" ng-model="vm.article.article_title" ng-disabled="vm.isClicked" maxlength="150" placeholder="Enter Article Title" title="Enter Article Title">
										
										<input type="hidden"  id="article_title_id" name="article_title_id" ng-model="vm.article.article_title_id" >
									</div>
								</div>
								<div class="form-group" >
									
									<div class="col-sm-12 lftRgtPadding">
										
										<textarea class="form-control" rows="6" id="article_title_short_desc" name="article_title_short_desc" ng-disabled="vm.isClicked" ng-model="vm.article.article_title_short_desc" maxlength="200" placeholder="Enter Title Short Description" title="Enter Title Short Description"></textarea>
										
										
									</div>
								</div>
								
								
								<div class="form-group">
									
									<div class="col-sm-12 lftRgtPadding" style="margin-bottom: 18px;">									
										<wysiwyg textarea-id="question" 
										textarea-class="form-control"  
										textarea-height="290px" 
										textarea-name="textareaQuestion"
										textarea-required 
										ng-model="vm.article.example_desc" 
										enable-bootstrap-title="true"
										textarea-menu="menu"
										title="Enter Example Description"
										placeholder="Enter Example Description"
										disabled="vm.isClicked"
										>
									</wysiwyg>							
									
								</div>
							</div>
							<div class="form-group  col-sm-12">
									<div class="col-lg-10 paddingLftRgtAlign" style="margin-top: 13px;">										
										<button type="submit" class="btn btn-primary" ng-show="vm.BtnShow" ng-disabled="registerForm.$invalid" ng-click="vm.Articles(vm.article)">Submit</button>
										<button type="submit" class="btn btn-primary" ng-hide="vm.BtnShow" ng-disabled="registerForm.$invalid" ng-click="vm.Articles(vm.article,'U')">Submit</button>						
									</div>
								</div>
							
						</div>
					</fieldset>	
				</form>										
					</div>							  
				</div>
			</div>
		</div>	
	
		<div class="modal fade" id="viewblack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<button type="button" class="close new_close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<div class="articleHeading articleContHeading" >
									<h4 class="latest_update">{{vm.article.category_name}}</h4>
									<div class="row articleContent">
										<div class="col-md-12 col-xs-12 articleContent">
											<h2>{{vm.article.article_name}}</h2>
											<p>{{vm.article.article_short_desc}}</p>
										</div>
									</div>
									<div class="row articleContent">
										<div class="col-md-12 col-xs-12 articleContent">
											<h2>{{vm.article.article_title}}</h2>
											<p>
												{{vm.article.article_title_short_desc}}
											</p>
										</div>
									</div>
									<div class="row articleContent" ng-show="vm.article.example_name!=null && vm.article.example_name!=''">
										<div class="col-md-12 col-xs-12 articleContent">
											<p class="pull-left">	
												<span class="articleExample">Example :</span>
												{{vm.article.example_name}}
											</p>
											<p class="textCopy">
												<a href="" class="copybtn" data-clipboard-target="#copyinput">copy</a>
											</p>
										</div>
									</div>
									<div class="exampleCode">
										
										<div class="well" ng-show="vm.article.code_desc!=null && vm.article.code_desc!=''">
											<pre id="copyinput">
												{{vm.article.code_desc}}
											</pre> 
										</div>
										
									</div>
									<div class="row articleContent" ng-hide="vm.article.example_desc==''">
										<div class="col-md-12 col-xs-12 articleContent">
											<h2 ng-show="vm.article.example_name!=null && vm.article.example_name!=''">Example Description</h2>
											<h2 ng-hide="vm.article.example_name!=null && vm.article.example_name!=''">Description</h2>
											<p class="test" ng-bind-html="vm.article.example_desc">
											</div>
										</div>	
									</div>
									
									<div class="clearfix"></div>
									
								</div>	
								<div class="modal-footer" style="text-align: center">
										<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
									</div>						  
							</div>
						</div>
		</div> 

		<div class="col-md-12 alignPaddingLftRgt">
			<div class="col-md-2 col-xs-12 pstActlDpDwn iqAtclType">
				<div class="form-group">							  
					<select class="form-control" id="select" ng-model="iqs">
						<option value="">All</option>
						<option value="Y">Approved</option>
						<option value="N">Disapproved</option>
						<option value="P">Pending</option>
					</select>	
				</div>
			</div>
			<div class="col-md-3 col-xs-12 pstActlDpDwn iqCat">
				<div class="form-group">						
					<select class="form-control" id="category_idf" name="category_idf" ng-options="cList.category_id as cList.category_name for cList in vm.cLists" ng-model="category_idf">
						<option value="">Choose Category</option>
					</select>	
				</div>
			</div>
			<div class="col-md-7 col-xs-12 iqSearch"> 
				<form role="search">
					<div class="input-group">
						<input class="form-control" ng-model="iqsearch" placeholder="Search" id="rch-term" type="text">
						<div class="input-group-btn">
							<button class="btn btn-default" name="iqsearchBttn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</form>
			</div>	
			<div class="clearfix"></div>				
		</div>
		<div id="no-more-tables">                
                <table class="col-md-12 table-bordered table-striped table-condensed cf" style="text-align:center">
                    <thead class="cf divhead">
                        <tr >	<th class="col-md-1" style="text-align:center">S No</th>
							<th class="col-md-2" style="text-align:center">Category Name</th>
							<th class="col-md-7" style="text-align:center">Article</th>
							<th class="col-md-2" style="text-align:center">Buttons</th>
                        </tr>
                    </thead>
                    <tbody>                
                        <form>
                            <tr ng-repeat="particle in vm.particles |filter:iqsearch |filter:{is_approved:iqs} |filter:{category_id:category_idf||undefined}:true" class="deleteArticle">
                                <td data-title="S No">
										<input type="checkbox" id="{{particle.article_title_id}}" ng-checked="vm.selection.indexOf(particle.article_title_id) > -1" ng-click="vm.MultipleSelection(particle.article_title_id)"  />										
										<label for="{{particle.article_title_id}}"  ng-click="showme=!showme" ></label>
								</td>
                                <td data-title="Category Name">{{particle.category_name}}</td>
                                <td data-title="Article" style="text-align: left">
										<a href="" ng-if="particle.is_approved=='Y'" style="color: #337ab7">{{particle.article_name}}</a>									
										<a href="" ng-if="particle.is_approved=='N'" style="color: #d9534f">{{particle.article_name}}</a>									
										<a href="" ng-if="particle.is_approved=='P'">	{{particle.article_name}}</a>						
										<h6 class="title_by">
											<span ng-if="particle.posted_by">Posted By :</span> 
											<span class="qpostedby">{{particle.posted_by}}</span>
											<span ng-if="particle.updated_by">Updated By :</span> 
											<span class="qpostedby">{{particle.updated_by}}</span>
											<span ng-if="particle.approved_by">Approved By :</span> 
											<span class="qpostedby">{{particle.approved_by}}</span>
											<span ng-if="particle.disapproved_by">Disapproved By :</span> 
											<span class="qpostedby">{{particle.disapproved_by}}</span>
										</h6> 
                                </td>
                                <td data-title="Buttons" >
										<button ng-disabled="showme"  class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#createnew"  title="Edit E-books Chapter" ng-click="vm.update_iq_info(particle,particle.is_approved)">Edit</button>
										<button ng-disabled="showme"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewblack" ng-click="vm.update_iq_info(particle)">View</button>  
                                </td>                                    
                            </tr>
                            
                        </form> 
                    </tbody>
                </table>
            </div>
	</div>
</div>		