<div class="main_wrap">
<div class="main_content">
<video width="95%" height="500" poster="html.png" controls autoplay>
  <source src="What is HTML5.mp4" type="video/mp4">  
  Your browser does not support the video tag.
</video>
<div class="comment">
<div id="media_left">
<img src="img.png">
</div>
<div class="comment_text">
<p style="font-size:17px;font-family:Arial;"><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</b></p> 
By <span id="name">Sean Williams </span>| <span style="color:grey">on 24-Jul-17</span>
</div>
<div class="clear"></div>
</div>
</div>
<div class="video_container">
<h2 style="padding:0 0 0 10px;">Related Videos</h2>
<ul>
<li style="border:1px solid #454545;border-radius:10px;margin-bottom:10px;background-color: white;">
<div style="padding:10px;">
<a href="#What is HTML5.mp4">
<video width="100%" poster="html.png" onclick="this.play()">
  <source src="What is HTML5.mp4" type="video/mp4">  
  Your browser does not support the video tag.
</video>
</a>
<div style="font-size:14px;font-weight:600;"><p>A video that will start playing</p></div>
</div>
</li>
<li style="border:1px solid #454545;border-radius:10px; margin-bottom:10px; background-color: white;">
<div style="padding:10px;">
<a href="#What is HTML5.mp4">
<video width="100%" poster="html.png" onclick="this.play()">
  <source src="What is HTML5.mp4" type="video/mp4">  
  Your browser does not support the video tag.
</video>
</a>
<div style="font-size:14px;font-weight:600;"><p>A video that will start playing</p></div>
</div>
</li>
<li style="border:1px solid #454545;border-radius:10px;margin-bottom:10px; background-color: white;">
<div style="padding:10px;">
<a href="#What is HTML5.mp4">
<video width="100%" poster="html.png" onclick="this.play()">
  <source src="What is HTML5.mp4" type="video/mp4">  
  Your browser does not support the video tag.
</video>
</a>
<div style="font-size:14px;font-weight:600;"><p>A video that will start playing</p></div>
</div>
</li>
</ul>
</div>

</div>