<div class="container-fluid content">
	<div class="col-md-12 main_content">
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12">		
				<div class="adds">		
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-7097333205788199"
					data-ad-slot="9573289661"
					data-ad-format="auto"></ins>
					<script defer type="text/javascript">
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
			<div class="col-md-8">
				<div class="adds col-md-12  col-xs-12">
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-7097333205788199"
					data-ad-slot="9573289661"
					data-ad-format="auto"></ins>
					<script defer type="text/javascript">
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				
				<div class="col-md-12 col-xs-12">
					<div class="under_cnstrn col-md-12">
						<img ng-src={{vm.JsonVals.under_construction}} style="width: 50%;margin:0 auto;display:block" />
					</div>
				</div>
			</div>
			
			<div class="col-md-2 col-sm-12 col-xs-12">		
				<div class="adds">		
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-7097333205788199"
					data-ad-slot="9573289661"
					data-ad-format="auto"></ins>
					<script defer type="text/javascript">
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
			
			
		</div>
	</div>
</div>