<div class="container-fluid content">
	<div class="col-md-2 hidden-sm col-xs-12">		
		<div class="adds">		
			<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-7097333205788199"
			data-ad-slot="9573289661"
			data-ad-format="auto"></ins>
			<script defer type="text/javascript">
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>
	<div class="col-md-8 col-sm-9 col-xs-12 main_content">
		<div class="row">
			
			<div class="col-md-12 articleAdd">
				<div class="adds">
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-7097333205788199"
					data-ad-slot="9573289661"
					data-ad-format="auto"></ins>
					<script defer type="text/javascript">
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
			<div class="col-md-12 under_cnstrn">	
				<h2 class="text-center">Write for us</h2>
				<p>
					Spinotuts tutorials provides the users with a regular supply of programming and designing guides with  up to date with new technologies and techniques to help the users. And with the effort we continually produce the unique and high quality tutorials.
				</p>
				<p>
					Want to be a part of our team. You are creating content to help others then Spinotuts is a great platform to publish your tutorial. Spinotuts have a lot of page views with heavy traffic.
				</p>
				<p>
					When you submit a tutorial to Spinotuts. Our supported team helps you to make your tutorial for an high level quality.Even for tech edit or for an edit to look better than you submitted in first.
				</p>
				<p>
					If you have any questions? please send us an email.
				</p>
			</div>
			
			
		</div>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-12">
		<div class="adds">		
			<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-7097333205788199"
			data-ad-slot="9573289661"
			data-ad-format="auto"></ins>
			<script type="text/javascript">
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>
</div>